<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="../style.css">


# EDAF75 - lab 1: SQL

**Objective:** to practice writing SQL queries.

This lab is meant to be run as a `jupyter` notebook, you can
download it [here](lab1.zip) (the zip-file contains the
notebook and the database, and a [.html-file](lab1.html)
which you can read in case you have problems reading/running
jupyter notebooks).

## Background

We have a database to handles the academic achievements of
students at LTH -- in it we have three tables:

<hr>
<table rules="all">
 <tr>
  <th align="left"><code>students:</code></th>
  <th></th>
 </tr>
 <tr>
  <td><code>ssn</code></td>
  <td>social security number</td>
 </tr>
 <tr>
  <td><code>first_name</code></td>
  <td>first name (obviously!)</td>
 </tr>
 <tr>
  <td><code>last_name</code></td>
  <td>last name</td>
 </tr>
</table>

<hr>

<table rules="all">
 <tr>
  <th align="left"><code>courses:</code></th>
  <th></th>
 </tr>
 <tr>
  <td><code>course_code</code></td>
  <td>course code, like <code>EDAF75</code></td>
 </tr>
 <tr>
  <td><code>course_name</code></td>
  <td>the name of the course, like "Database Technology"</td>
 </tr>
 <tr>
  <td><code>level</code></td>
  <td>the course level, like "G1", "G2", or "A"</td>
 </tr>
 <tr>
  <td><code>credits</code></td>
  <td>the number of credits for the course, like 7.5</td>
 </tr>
</table>

<hr>

<table rules="all">
 <tr>
  <th align="left"><code>taken_courses:</code></th>
  <th></th>
 </tr>
 <tr>
  <td><code>ssn</code></td>
  <td>the social security number of a student</td>
 </tr>
 <tr>
  <td><code>course_code</code></td>
  <td>the course code for the course the student has taken</td>
 </tr>
 <tr>
  <td><code>grade</code></td>
  <td>the grade for the student passing the course</td>
 </tr>
</table>

<hr>

<center>
  <img src="lab1.png">
</center>

Some sample data:

```text
ssn           first_name   last_name
---           ----------   ---------
861103–2438   Bo           Ek
911212–1746   Eva          Alm
950829–1848   Anna         Nyström
...           ...          ...

course_code   course_name                   level    credits
-----------   -----------                   -----    -------
EDA016        Programmeringsteknik          G1       7.5
EDAA01        Programmeringsteknik - FK     G1       7.5
EDA230        Optimerande kompilatorer      A        7.5
...           ...                           ...      ...

ssn           course_code   grade
---           -----------   -----
861103–2438   EDA016        4
861103–2438   EDAA01        3
911212–1746   EDA016        3
...           ...           ...
```

The tables have been created with the following SQL
statements:

```sql
CREATE TABLE students (
  ssn          CHAR(11),
  first_name   TEXT NOT NULL,
  last_name    TEXT NOT NULL,
  PRIMARY KEY  (ssn)
);

CREATE TABLE courses (
  course_code   CHAR(6),
  course_name   TEXT NOT NULL,
  level         CHAR(2),
  credits       DOUBLE NOT NULL CHECK (credits > 0),
  PRIMARY KEY   (course_code)
);

CREATE TABLE taken_courses (
  ssn           CHAR(11),
  course_code   CHAR(6),
  grade         INTEGER NOT NULL CHECK (grade >= 3 AND grade <= 5),
  PRIMARY KEY   (ssn, course_code),
  FOREIGN KEY   (ssn) REFERENCES students(ssn),
  FOREIGN KEY   (course_code) REFERENCES courses(course_code)
);
```

All courses offered at the "Computer Science and
Engineering" program at LTH during the academic year 2013/14
are in the table 'courses`. Also, the database has been
filled with made up data. SQL statements like the following
have been used to insert the data:

```sql
INTO   students(ssn, first_name, last_name)
VALUES ('950705-2308', 'Anna', 'Johansson'),
       ('930702-3582', 'Anna', 'Johansson'),
       ('911212-1746', 'Eva', 'Alm'),
       ('910707-3787', 'Eva', 'Nilsson'),
       ...
```

## Assignments

As said above, this lab is designed to be run as a jupyter
notebook. If you haven't got jupyter running, you can run
the sql-commands for the problems below interactively inside
sqlite3, or as a script file with all your commands, or
inside some IDE, like [DB Browser for
SQLite](https://sqlitebrowser.org/).

If you're running the lab as a notebook (and hopefully you
are!), evaluate the following cells before you begin:

In [23]:
%load_ext sql

ModuleNotFoundError: No module named 'sql'

In [24]:
%sql sqlite:///lab1.sqlite

UsageError: Line magic function `%sql` not found.

The tables `students`, `courses` and `taken_courses` are
already in your database, you can see some of their contents
by running the cells below:

In [2]:
%%sql
SELECT  * 
FROM    students
LIMIT   4

UsageError: Cell magic `%%sql` not found.

In [3]:
%%sql
SELECT  *
FROM    courses
LIMIT   4

UsageError: Cell magic `%%sql` not found.

In [4]:
%%sql
SELECT  *
FROM    taken_courses
LIMIT   4

UsageError: Cell magic `%%sql` not found.

If you inadvertently change the contents of the tables, you
can always recreate the them with the following command (it
must be run at the command line):

```sh
sqlite3 lab1.sqlite < create-lab1-data.sql
```

After some of the questions there is a number in brackets.
This is the number of rows generated by the question. For
instance, [72] after question a) means that there are 72
students in the database, you can use that number as an
indicatation of if your answer is in the right ballpark.

a) What are the names (first name, last name) of all the
   students? [72]

In [5]:
%%sql
SELECT first_name, last_name
FROM students

UsageError: Cell magic `%%sql` not found.

b) Same as question a) but produce a sorted listing. Sort
   first by last name and then by first name.

In [6]:
%%sql
SELECT first_name, last_name
FROM students
ORDER BY last_name, first_name;

UsageError: Cell magic `%%sql` not found.

c) What are the names of the students who were born in 1985?
   [4]

In [7]:
%%sql
SELECT first_name, last_name
FROM students
WHERE ssn LIKE '85%'

UsageError: Cell magic `%%sql` not found.

d) The next-to-last digit in the social security number is
   even for females, and odd for males. List the first names
   of all female students in our database alphabetically
   (each name should occur only once). Hint: the `substr`
   function can be useful. [26]

In [8]:
%%sql
SELECT DISTINCT first_name
FROM students
WHERE SUBSTR(ssn, 10, 1) % 2 = 0
ORDER BY first_name

UsageError: Cell magic `%%sql` not found.

e) How many students are registered in the database?

In [9]:
%%sql
SELECT count()
FROM students

UsageError: Cell magic `%%sql` not found.

f) Which courses are offered by the department of
   Mathematics (their course codes have the form `FMAxxx`)?
   [22]

In [10]:
%%sql
SELECT *
FROM courses
WHERE course_code LIKE 'FMA%'

UsageError: Cell magic `%%sql` not found.

g) Which courses give more than 7.5 credits? [16]

In [11]:
%%sql
SELECT *
FROM courses
WHERE credits > 7.5

UsageError: Cell magic `%%sql` not found.

h) How may courses are there for each level (`G1`, `G2`, and
   `A`)?

In [12]:
%%sql
SELECT level, count()
FROM courses
GROUP BY level

UsageError: Cell magic `%%sql` not found.

In the next few problems, we'll look at the results of the
student with the social security number 910101–1234 -- to
make things a lot easier, you can create a `VIEW` with all
his results (see lecture 3).

In [13]:
%%sql
DROP VIEW IF EXISTS all_info;
CREATE VIEW all_info AS
    SELECT ssn, first_name, last_name, grade, course_code, course_name, level, credits
    FROM students
    JOIN taken_courses
    USING (ssn)
    JOIN (courses)
    USING (course_code)
    WHERE ssn = '910101-1234';

SELECT first_name, course_name, grade
FROM all_info

UsageError: Cell magic `%%sql` not found.

i) Which courses (course codes only) have been taken by the
   student with the social security number 910101–1234? [35]

In [14]:
%%sql
SELECT course_code 
FROM all_info

UsageError: Cell magic `%%sql` not found.

j) What are the names of these courses, and how many credits
   do they give?

In [15]:
%%sql
SELECT course_name, credits 
FROM all_info

UsageError: Cell magic `%%sql` not found.

k) How many credits has the student taken?

In [16]:
%%sql
SELECT sum(credits) AS total_credits
FROM all_info

UsageError: Cell magic `%%sql` not found.

l) Which is the student’s grade average? Try to calculate
both the unweighted and the weighted average.

In [17]:
%%sql
SELECT printf("%.2f", avg(grade)) AS avg_grade
FROM all_info

UsageError: Cell magic `%%sql` not found.

In [18]:
%%sql
SELECT round(sum(courses.credits * taken_courses.grade) / sum(courses.credits), 2) AS weighted_avg_grade
FROM courses
JOIN taken_courses
USING (course_code)
JOIN all_info
USING (ssn)

UsageError: Cell magic `%%sql` not found.

m) Which students have taken 0 credits? [11] This problem
   can be solved in several ways, first do it with an outer
   join:

In [19]:
%%sql
SELECT students.*
FROM students
LEFT JOIN taken_courses
USING (ssn)
WHERE taken_courses.course_code IS NULL

UsageError: Cell magic `%%sql` not found.

Now do the same thing using a subquery:

In [20]:
%%sql
SELECT *
FROM students
WHERE ssn NOT IN (
    SELECT ssn
    FROM taken_courses
)

UsageError: Cell magic `%%sql` not found.

n) List the names and average grades of the 10 students with
   the highest grade average? You can use the unweighted
   average.

In [21]:
%%sql
SELECT students.first_name, students.last_name, round(avg(taken_courses.grade), 2) AS avg_grade
FROM students
LEFT JOIN taken_courses
USING (ssn)
GROUP BY students.ssn
ORDER BY avg_grade DESC
LIMIT 10

UsageError: Cell magic `%%sql` not found.

o) List the social security number and total number of
   credits for all students. Students with no credits should
   be included in the listing, with 0 credits (not `NULL`).

   If you do this with an outer join (and I recommend you
   try it!) you might want to use the function
   `coalesce(v1, v2, ...)`; it returns the first value which
   is not `NULL`, so `coalesce(avg(grade), 0)` would give 0
   if the were no grades (i.e., if `grade` were `NULL`), you
   can also try the `ifnull` function.

   (It may be a little bit tricky to get this query right,
   if you're missing the students with 0 credits, don't
   worry, your TA will help you get it right). [72]

In [22]:
%%sql
SELECT students.ssn, IFNULL(sum(courses.credits), 0) AS total_credits
FROM students
LEFT JOIN taken_courses
USING (ssn)
LEFT JOIN courses
USING (course_code)
GROUP BY students.ssn

UsageError: Cell magic `%%sql` not found.

p) Is there more than one student with the same name? If so,
   who are these students and what are their social security
   numbers? [7]

   As usual there are several ways of solving this, try to
   solve it using a `WITH`-statement where you create a
   table with all duplicate names, and then use it in a
   `JOIN`:

In [29]:
%%sql
WITH same_name AS (
    SELECT group_concat(ssn) AS ssn, first_name, last_name, count()
    FROM students
    GROUP BY first_name, last_name
    HAVING count() > 1
)
SELECT ssn, first_name, last_name
FROM same_name 
LEFT JOIN taken_courses -- Helt onödigt btw (krystad uppgift)
USING (ssn)
GROUP BY first_name

/* Much better solution without WITH 
SELECT group_concat(ssn) AS ssn, first_name, last_name, count()
FROM students
GROUP BY first_name, last_name
HAVING count() > 1
*/

 * sqlite:///lab1.sqlite
Done.

[('950705-2308,930702-3582', 'Anna', 'Johansson'),
 ('861103-2438,931225-3158,850819-2139', 'Bo', 'Ek'),
 ('891220-1393,900313-2257', 'Erik', 'Andersson')]

q) What 5 courses have the highest grade average?

In [26]:
%%sql
SELECT course_name, round(avg(taken_courses.grade), 2) AS avg_grade
FROM courses
LEFT JOIN taken_courses
USING (course_code)
GROUP BY courses.course_code
ORDER BY avg_grade DESC
LIMIT 5

 * sqlite:///lab1.sqlite
Done.

[('Digitala och analoga projekt', 4.75),
 ('Signalbehandling i multimedia', 4.6),
 ('Medicinsk signalbehandling', 4.57),
 ('Avancerad interaktionsdesign', 4.57),
 ('Nätverksprogrammering', 4.5)]